<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }} | Donker Utrecht</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width,initial-scale=1">
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type=image/x-icon>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.min.js"></script>
    {% if page.layout == "map" %}
    <script src="{{ site.baseurl }}/js/leaflet.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css" />
    {% endif %}
  </head>
  <body>
    <header>
      <nav>
        <div id="logo">
          <a href="{{ site.baseurl }}/"><img alt="Donker Utrecht" src="{{ site.baseurl }}/img/donkerutrecht_small.png" alt="Donker Utrecht" /></a>
        </div>
        <ul>
          {% for item in site.data.menu %}
          <li>
            {% if item.external %}
               <a href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
               <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
  	</header>
